body {
    background: #404040 url('images/splat_again.gif') no-repeat fixed left top;
}

a {
    color: #303A5F;
}

a:hover {
    
}

a:visited {
    
}

#content {
    width: 500px;
    background-color: #eeeeee;
    margin: 50px 0 0 150px;
    padding: 1em;
}

p {
    margin: 5px 0;
}